body{
    margin: 0;
}
.sezione-colorata{
    background-color:rgb(234, 233, 227);
    padding: 1%;
    width: 100%;
}
.sezione-bianca{
    background-color: rgb(255, 254, 254);
    padding: 1%;
    width: 100%;
}
.section-header{
    padding:1%;
    border-width: 4px;
    
    max-width: 70%;
    margin: 0 ;
}
